.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.typewriter {
  width: 21.5ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 1s step-start infinite, text 5s steps(18) alternate infinite;
}

@keyframes cursor {
  0%,
  100% {
    border-color: #212121;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 21.5ch;
  }
}
